<h1>Hello Shubhangi</h1>


<app-student></app-student>



<!--
<div>
<button (click)="changeVal(true)">Show Div</button>
<button (click)="changeVal(false)">Hide Div</button>
</div> 

<div *ngIf=isValid> hey servlet </div>
<button (click)="isValid=true">Show Div</button>
<button (click)="isValid=false">Hide Div</button>

<div *ngIf="projectsList.length==0; else elsBlock">

</div>
<ng-template #elsBlock>
    Project Exist
</ng-template>

<div *ngIf="projectsList.length==0;then ifBlock;else elseBlock"></div>

<ng-template #ifBlock>
    Project doesnt Exist
</ng-template>
<ng-template #elseBlock>
    Project Exist
    
    <table border="1">

        <tr>
            <th>serial no.</th>
            <th>Project Id</th>
            <th>Project Name</th>
        </tr>
<tr *ngFor="let proj of projectsList;index as i">
    <td>{{i}}</td>
<td>{{proj.projectId}}</td>
<td>{{proj.projectName}}</td>


</tr>
    </table>
    <button (click)="addRow('103','GSK')">Add New Row</button>
    <button (click)="removeRow('102')">Remove  Row</button>

</ng-template>






<app-employee></app-employee> 
-->