<div align="center">
        <h1>Mark Attendance </h1>
        <br>
    <form [formGroup]="attendanceForm" (ngSubmit)="saveAttendance()">
            <div>
    
            <label>Project :</label>
    
             <select name="projectId" formControlName="projectId" (change)="projectselect($event.target.value)" required="true">
               
          <option *ngFor="let pro of project" value="{{pro.projectId}}">{{pro.projectName}}</option>
    
             </select> 
    
            <br>
    
            </div>
            <div>
    
            <label>Employees Under project :</label>
    
            <select name="employeeId" formControlName="employeeId" required="true">
                <option *ngFor="let emp of employee" value="{{emp.employeeId}}">{{emp.employeeName}}</option>
                </select><br>
            
            </div>
            
            <div>
    
            <label>Month :</label>
    
            <select formControlName="month" required="true">
    
                <option value="january">January</option>
    
                <option value="february">February</option>
    
                <option value="march">March</option>
    
                <option value="april">April</option>
    
                <option value="may">May</option>
    
                <option value="june">June</option>
    
                <option value="july">July</option>
    
                <option value="august">August</option>
    
                <option value="september">September</option>
    
                <option value="october">October</option>
    
                <option value="november">November</option>
    
                <option value="december">December</option>
    
            </select>
    
            <br>
    
            </div>
    
            
            <label>Year :</label>
          

            <div>
                    <input type="number" formControlName="year" required="true">
                </div>
        
            
            
            <br>
    
            <div>
    
            <label>Half day:</label>
    
            <input type="number" formControlName="halfDay"  size="30" max="30"  placeholder="Enter Number of Half Days" required="true" /><br>
    
            </div>
    
            
    
            <div>	
    
                <label>Full Day:</label>
    
                <input type="number" formControlName="fullDay" size="30" max="30" placeholder="Enter Number of Full Days" required="true"/><br>
    
            </div>
    
            
    
            <div class="form-group">
    
                <button type="submit" class="btn btn-primary">Submit</button>
    
             </div>
    
    </form>
    
    
            
        </div>
       
    

    
